<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Главная</h3>
  </div>

  <div class="panel-body">
    <ul>
      <li><b>Автор:</b> <a href="https://github.com/Photon79" target="_blank">Мезенцев Сергей</a></li>
      <li><b>GitHub:</b> <a href="https://github.com/Photon79/Angular-Full-Stack-Test" target="_blank">репозиторий</a></li>
      <li><b>Данный проект использует MEAN:</b></li>
      <ul>
        <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
        <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
        <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2+</a></li>
        <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
      </ul>
      <li><b>Другие используемые технологии:</b></li>
      <ul>
        <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
        <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
        <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
      </ul>
    </ul>
  </div>
</div>
